<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Weather Powered Email
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                          <label for="location">Location</label><br />
                          <select name="location">
              						<option value="" disabled selected>Where do you live?</option>
              						{% for city in cities %} <!-- pass-in the keys from the context-->
              							<option value="{{city}}">{{city}}</option>
              						{% endfor %}
              	        </select>
                          <!-- <label>Location<br/></label>
                            <div class="control is-expanded">
                                {{ email.location }}
                            </div> -->
                        </div>
                        <div class="field has-addons">
                          <label>Email Address<br/></label>
                            <div class="control is-expanded">
                                {{ email.email }}
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
